// map
$colores: ( c-1: #0c0c22, c-2: #00001a, c-3: #d800d8, c-4: #32314e, c-5: #aaa6ca, c-6: #000000, c-7: #ffffff, c-8: #ffffffcb);
// mixins
@mixin color ($color) {
    color: $color;
}

body {
    background-color: map-get($colores, c-1);
}

nav {
    background-color: map-get($colores, c-2);
}

.nav_h1 {
    color: map-get($colores, c-3);
}

.CostumNavbarDropdown {
    background-color: map-get($colores, c-4);
    @include color(aliceblue)
}

footer {
    @extend nav;
    height: 50px;
    @include color(aliceblue)
}

.card-body {
    background-color: map-get($colores, c-5);
}

.card-title {
    color: map-get($colores, c-6);
}

.card-text {
    color: map-get($colores, c-6);
}

.tituli_tutoriales {
    color: map-get($colores, c-7);
    font-size: 1.2rem;
}

.formulario {
    max-width: 600px;
    width: 100%;
}

.formulario_texto {
    color: map-get($colores, c-8);
}

.enviar {
    color: map-get($colores, c-8);
    background-color: green;
    border-color: darkgreen;
    max-width: 595px;
}

footer>a {
    @include color(aliceblue)
}

footer>a:hover {
    color: map-get($colores, c-4);
    transition: color 1s;
}

p>small {
    @include color(gray)
}

p>small:hover {
    color: map-get($colores, c-6);
    transition: color 1s;
}

h1 {
    @include color(#FFFFFF)
}